<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">{{ title }}</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/about/tanakrit">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about/contact">Contact</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"> Type
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a routerLink="/" [queryParams]="{category: 'รองเท้า'}">รองเท้า</a></li>
                <li><a routerLink="/" [queryParams]="{category: 'เสื้อ'}">เสื้อ</a></li>
                <li><a routerLink="/" [queryParams]="{category: 'กระเป๋า'}">กระเป๋า</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" appBgColor>
            <li><a routerLink="/cart">
                <span id="itemCount">{{ cartItemCount }}</span><span class="glyphicon glyphicon-shopping-cart"></span>
            </a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

